<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="col-sm-6">
			<form th:action="@{/save}" th:object="${cliente}" method="POST">
				<div class="card">
					<div class="card-header">
						<h3>Cliente</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>Nombres</label> <input type="text" class="form-control"
								th:field="*{nombre}">
						</div>
						<div class="form-group">
							<label>Apellidos</label> <input type="text" class="form-control"
								th:field="*{apellidos}">
						</div>
						<div class="form-group">
							<label>Identificacion</label> <input type="number"
								class="form-control" th:field="*{identificacion}">
						</div>
						<div class="form-group">
							<label>Tipo identificacion</label> <input type="text"
								class="form-control" th:field="*{tipoId}">
						</div>
						<div class="form-group">
							<label>Ciudad Nacimiento</label> <input type="text"
								class="form-control" th:field="*{ciudadNacimiento}">
						</div>
						<div class="form-group">
							<label>Edad</label> <input type="number" class="form-control"
								th:field="*{edad}">
						</div>
						<div class="form-group">
							<label for="exampleFormControlFile1">Foto</label> <input
								type="file" class="form-control-file"
								id="exampleFormControlFile1">
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>